function install_requirements() {
	if [ -f "requirements.txt" ]; then
		python -m pip install -r requirements.txt
	fi
}

if [ -d "venv" ]; then
	echo -e "\\033[92m* Using existing python venv\\033[0m"
	source venv/bin/activate
else
	echo -e "\\033[91m* Creating new python venv\\033[0m"
	python3 -m pip install -U pip virtualenv
	python3 -m virtualenv venv
	source venv/bin/activate && install_requirements
fi
unset PS1
# vim: set ft=sh ts=4 sw=4 noet ai :
